/*This is my 377 FoCo Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 377 FoCo Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("images/webpagebackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.center {
    width: 700px;
	padding: 2%;
    margin: 100px auto;
 	background: none;/*this uses opacity of 75% for the background color*/
	text-align: center;
}

   
#logo {
    margin-bottom: 16px;
	border: 3px none;
	text-align: center;
	padding-bottom: 50px;
}

h1 {
	/* COPY AND PASTE THE FONT-FAMILY CHOSEN FROM GOOGLE OR ADOBE FONTS */
	font-family: pauline, sans-serif;
	font-weight: 700 ;
	font-size: normal;
	font-size: 3em;
    margin: 0px auto 10px auto;
    color: #fff;
	
}

h2 {
	 /* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family: new-order, sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 1.5em;
    line-height: 1.4;
    color: #fff;
    margin: 0px auto 10px auto;
}

p {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family:new-order,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.5em;
    line-height: 1.6;
    color: #fff;
	margin: 0px auto 10px auto;
	padding-bottom: 10px;
}

nav{
	font-family: new-order, sans-serif;
	font-size: 1.5em;
	font-style: normal;
	padding: 0px;
	width: 700px;
	margin: 0 auto;
	border-top: 3px solid #E56A54;
	border-bottom: 3px solid #E56A54;
	text-align: center;
	margin-top: 10px;
	padding-bottom: 0em ;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;

}

nav li{
		display:inline;
}

nav a{
		display: inline-block;
		padding-left: 25px;
		padding-right: 25px;
		padding-top: 10px;
		padding-bottom: 10px;
}

a{
		color: white;
		text-decoration: none;
		font-weight: bold;
}

a:hover{
		color: #E56A54;
		background: #3B422A;
}
    

